In [1]:
print("hello world my name is eren \n i will be 20 years old in 2020")

hello world my name is eren
 i will be 20 years old in 2020

In [9]:
string = "hello world my name is eren  i will be 20 years old in 2020"

### slice operation
- [ ] [Python slice notation](https://stackoverflow.com/questions/509211/understanding-slice-notation)

####  string[start:stop:step]
string = "Hello, World!"

 Slice from index 0 to 4
print(string[0:5])  # Output: "Hello"

Slice from index 7 to the end
print(string[7:])  # Output: "World!"

Slice from the start to index 5
print(string[:5])  # Output: "Hello"

Slice from index -1 to -5 in reverse order
print(string[-1:-5:-1])  # Output: "!dlr"

Reverse the string
print(string[::-1])  # Output: "!dlroW ,olleH""

In [7]:
string[0:15]

'hello world my '

In [15]:
string[30::-1]

' i  nere si eman ym dlrow olleh'

In [16]:
string[::-2]

'00 idosay0 bli  nr iea mdrwolh'

In [17]:
damodar =  "damodar"

In [18]:
damodar*4

'damodardamodardamodardamodar'

### concatenation

In [20]:
str1 = "hello"
str2 = "world"
print(str1 + str2)

helloworld

In [21]:
print(len(str1))

5

In [22]:
print(str1[0])

h

In [24]:
print(str1.upper())
print(str1.lower())
print(str1.capitalize())
print(str1.title())
print(str1.swapcase())
print(str1.isupper())

HELLO
hello
Hello
Hello
HELLO
False

In [27]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = ["damodar","sagar","santosh","sushil","sagar","santosh","sushil","sagar","santosh","sushil"]
print(" ".join(list2))
print(" ".join(list2).split())

damodar sagar santosh sushil sagar santosh sushil sagar santosh sushil
['damodar', 'sagar', 'santosh', 'sushil', 'sagar', 'santosh', 'sushil', 'sagar', 'santosh', 'sushil']

In [36]:
list3 = (" ".join(list2))
print(list3.split("-"))

['damodar sagar santosh sushil sagar santosh sushil sagar santosh sushil']

In [38]:
## Replacing method

In [39]:
print(str1.replace("hello",'Love'))

Love

In [42]:
print(str1.count("o"))

1

In [44]:
# `string.splitlines()` is a method in Python that splits a string into a list of lines. It separates the string at each line break character, such as '\n' or '\r\n', and returns a list of the resulting lines.
string.splitlines()

['hello world my name is eren  i will be 20 years old in 2020']

In [47]:
size = int(input("enter the length of "))
for i in range(size):
    print("0"*(size-i-1)+"*"*(2*i+1))

00000000*
0000000***
000000*****
00000*******
0000*********
000***********
00*************
0***************
*****************

In [49]:
print("\n".join([i.ljust(8) + i + i.rjust(8) for i in [''.join([(a[(j - i) % len(a)] if ((j // 2) * (j // 2) + (i - len(a)) * (i - len(a)) <= len(a) * len(a)) else ' ') for j in range(-len(a), len(a))]) for a in [['@', ' ', '@', '@', '@', ' ', '@', '@', '@'], ['@', '@', '@', ' ', '@', ' ', '@', '@', '@'], [' ', '@', '@', '@', '@', '@', '@', '@', ' '], [' ', ' ', '@', '@', '@', '@', '@', ' ', ' '], [' ', ' ', ' ', '@', '@', '@', ' ', ' ', ' '], [' ', ' ', ' ', ' ', '@', ' ', ' ', ' ', ' ']]]]))

 @@@ @@@@ @@@ @@@@ @@@ @@@@ @@@ @@@@ @@@ @@@@ @@@ @@@@
@@ @ @@@@@@ @ @@@@@@ @ @@@@@@ @ @@@@@@ @ @@@@@@ @ @@@@
@@@@@@@  @@@@@@@  @@@@@@@  @@@@@@@  @@@@@@@  @@@@@@@
 @@@@@    @@@@@    @@@@@    @@@@@    @@@@@    @@@@@
  @@@      @@@      @@@      @@@      @@@      @@@
   @        @        @        @        @        @

In [65]:
size = 5
for i in range(size):
    for j in range(size-i):
        print("",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [69]:
name = "damodar"
age = 20
print("my name is {} and i am  years {} old".format(name,age))

my name is damodar and i am damodar years 20 old

In [70]:
joining_age = 20
while joining_age < 30:
    print("you are not eligible")
    joining_age += 1
else:
    print("you are eligible")

you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are not eligible
you are eligible

In [75]:
list1 = [[1,1,1],2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

[1, 1, 1]
2
3
4
5
6
7
8
9
10

In [79]:
for i in list1:
    if isinstance(i,list):
        for j in i:
            print(j)
    else:
            print(i)

1
1
1
2
3
4
5
6
7
8
9
10

In [2]:
list2 = [1,2,3,4,5,6,7,8,9,10]
[num**2 for num in list2]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
words = ["damodar","sagar","santosh","sushil","sagar","santosh","sushil","sagar","santosh","sushil"]
[words[0] for words in words]

['d', 's', 's', 's', 's', 's', 's', 's', 's', 's']

In [6]:
list3 = [[1,2,3],[4,5,6],[7,8,9]]

In [12]:
for i in list3:
    list1=[i]
print(list1)

[[7, 8, 9]]

In [11]:
[j list1 for l in i]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (675482527.py, line 1)